/* Clase xenérica para divs baleiros que forcen un clear */
.forzarClear {
	clear:both;
	height: 0px;
}

/* Cabeceiras =============================================================== */
h1 {
	font-size: 1.5em;
	margin-bottom: 10px;
	color: #032330;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	color: #10394f;
}

h3 {
	font-size: 1.05em;
	font-weight: bold;
	color: #10394f;
}

/* Enlaces ================================================================== */

a, a:active, a:visited {
	color: #10394f;
}

a:hover {
	color: #032330;
}


/** Permite cologar elementos en columnas */
div.columnas {
	padding: 0;
	margin: 0;
	border: none;
	overflow: hidden;
	width:100%;
}

div.columnas div.columna {
	padding: 0;
	margin: 0;
	border: none;
	width: 50%;
	float: left;
}

.bloque50 {
	width: 50%;
	margin: 0 auto;
}

.avisoContido {
	font-size: 1.5em;
	text-align: center;
	line-height: 2em;
}

.avisoFckEditor {
	text-align: center;
	font-size: 0.9em;
	color: #aaa;
	
}