/* Estilos para os formularios */
.controis {
	text-align: center;
	clear:both;
	padding-top: 10px;
}

form fieldset {
	padding: 10px;
	padding-top: 0px;
}

.controisEngadir{
	padding:5px 0px;
	text-align:right;	
}

form .entrada {
	margin-top: 10px;
}

form.controis {
	display: block;
}

/* Campos de erro */

form select {
	border: 1px solid #777777;
	padding: 1px 1px 1px 3px; 
	background-image: url("../imaxes/formularios/sombra-input.png");
	background-position: top left;
	margin-left: 3px;
}

form .campoTexto {
	background-image: url("../imaxes/formularios/sombra-input.png");
	background-position: top left;
	border: 1px solid #777777;
	padding: 1px 1px 1px 3px; 
}

form .campoSeleccionado {
	background-image: none;
	background-color: #eef0aa;
	border: 1px solid #9cc213;
}

form .erro {
	color: red;
}

form .campoErroneo {
	background-image: none;
	background-color: #ffaaaa;
	border: 1px solid red;
}

form .campoSoloLectura {
	background-image: none;
	background-color: #ddd;
	border: 1px solid #999;
	color: #999;
}

form .etiquetaSoloLectura {
	color: #999;
}

tr.controisPaxinable td{
	border: 1px solid black;
	}
/* Estilos para os botóns de submit que se ven como links */
input.submitLink {
  background-color:white;
}

table.layout {
	border-collapse: collapse;
	table-layout: fixed;
	border: none;
}

table.layout td {
	border: none;
	background-color: inherit;
	vertical-align: top;
}

table.layout th {
	border: none;
	vertical-align: top;
}