#mensaxesPendentes {
	margin: 10px 0px;
}

#mensaxesPendentes div {
	padding: 3px;
	margin-bottom: 5px;
}

#mensaxesPendentes div.ERRO {
	border: 1px solid #BB2530;
	background-color: #FFBFB0;
	color: #BB2530;
}

#mensaxesPendentes div.AVISO {
	border: 1px solid #F57E2A;
	background-color: #F2EDC2;
	color: #F57E2A;
}

#mensaxesPendentes div.INFO {
	border: 1px solid #095B66;
	background-color: #B2D1D9;
	color: #095B66;
}

#mensaxesPendentes div.CORRECTO {
	border: 1px solid #76723E;
	background-color: #D3D8BA;
	color: #76723E;
}

#nonEncontrado, #erro{
	border:1px solid red;
	padding: 20px;
}