.menu {
	width: 200px;
	background-color: #eee;
	padding: 5px;
	float: left;
	font-size: 1.2em;
	margin-top: 0.8em;
}

.menu li ul {
	padding-bottom: 5px;
}

.menu ul {
	padding-bottom: 0;
}

.menu li.activa {
	font-weight: bold;
}

.menu li.activa li {
	font-weight: normal;
}

/* Submenú ================================================================== */

.submenu {
	padding: 4px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 1.3em;
	font-size: 1.2em;
}

.submenu .activo {
	font-weight: bold;
}